.sconsign.dblite
version.h
*.pyc
test
newtest
*.o
*.lo
*.la
*.a
*.swp

Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
configure~
depcomp
install-sh
libtool
ltmain.sh
missing
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/libws2811.pc

stamp-h1

build/
release/
debug/
settings.json
