# Ignore IDE folders + VSC workspace
**/.idea/**
**/.vs/**
**.code-workspace

# Ignore CMake debug build folder
cmake-build-debug/

.sconsign.dblite
version.h
*.pyc
test
newtest
*.o
*.a
*.swp

build/
release/
debug/
settings.json