Source: libws2811
Section: libs
Priority: optional
Maintainer:  Jeremy Garff (jer@jers.net)
Build-Depends: debhelper (>= 9), cmake
Standards-Version: 4.1.4
Homepage: https://github.com/jgarff/rpi_ws281x
Vcs-Git: https://github.com/jgarff/rpi_ws281x.git
Vcs-Browser: https://github.com/jgarff/rpi_ws281x

Package: libws2811-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libws2811 (= ${binary:Version}), ${misc:Depends}
Description: Raspberry Pi WS281X Library - development kit
 LED Control Library for the Raspberry Pi.
 .
 This package contains the development files for libws2811.

Package: libws2811
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Raspberry Pi WS281X Library
 LED Control Library for the Raspberry Pi.  
 .
 This package contains the libws2811 library used by applications.
